<main class="row">
    <section class="col-md-12 m-2">
        <h2 class="text-center m-4 text-white-50 bg-dark">Estadísticas Mundial del covid-19</h2>
        <div class="border border-info mg-form col-lg-9 m-auto">
            <h3 class="text-center p-2 card-noti text-white-50 bg-dark">Estadísticas</h3>
            <div class="center-form m-auto">
                <form class="p-3">
                    <label for="pais_seleccionado">Selecc&iacute;onar un Pa&iacute;s</label>
                    <select class="form-control p-2" name="pais_seleccionado" id="pais_seleccionado"
                        [(ngModel)]="pais_seleccionado">
                        <option>Argentina</option>
                        <option>Bolivia</option>
                        <option>Chile</option>
                        <option>Colombia</option>
                        <option>Ecuador</option>
                        <option>Paraguay</option>
                        <option>Peru</option>
                        <option>Venezuela</option>
                    </select>

                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" (change)="checked($event)">
                        Casos confirmados

                    </div>
                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" (change)="checked1($event)">
                        Curados

                    </div>
                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" (change)="checked2($event)">
                        Fallecidos

                    </div>
                    <button type="button" class="btn btn-outline-primary col-md-12"
                        (click)="obtenerDatosPais()">Enviar</button>
                </form>
            </div>
        </div>
        <div class="card col-lg-5 m-auto p-2 bg-dark text-white-50 m-3">
            <label for="info" class="m-0"> PAIS: <p *ngIf="mostrar"> {{this.paisV}}</p></label>           
            <label for="info" class="m-0"> CONFIRMADOS: <p *ngIf="mostrar"> {{this.confirmadosV}}</p></label>           
            <label for="info" class="m-0"> RECUPERADOS: <p *ngIf="mostrar1"> {{this.recuperadosV}}</p></label>  
            <label for="info" class="m-0"> FALLECIDOS: <p *ngIf="mostrar2"> {{this.fallecidosV}}</p></label> 
        </div>
    </section>
    <section class="row m-auto col-lg-10">
        <table class="table text-center border border-dark mt-3 mb-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Casos Confirmados</th>
                    <th scope="col">Curados</th>
                    <th scope="col">Fallecidos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paises" class="text-center">
                    <th> {{item.pais}} </th>
                    <td>{{item.confirmados}}</td>
                    <td>{{item.recuperados}}</td>
                    <td>{{item.fallecidos}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>