<main class="row">
    <section class="col-md-12 m-2">
        <h2 class="text-center m-4">Estadísticas Mundial del covid-19</h2>
        <div class="border border-info mg-form">
            <h5 class="text-center p-2 card-noti">Estadísticas</h5>
            <div class="center-form">
                <form class="p-3">
                    <select class="form-control p-2">
                        <option selected>Seleccione un Pais</option>
                        <option>Argentina</option>
                        <option>Bolivia</option>
                        <option>Brasil</option>
                        <option>Chile</option>
                        <option>Colombia</option>
                        <option>Ecuador</option>
                        <option>Paraguay</option>
                        <option>Peru</option>
                        <option>Uruguay</option>
                        <option>Venezuela</option>
                    </select>

                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" value="">
                        Casos confirmados

                    </div>
                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" value="">
                        Curados

                    </div>
                    <div class="form-check p-3 ml-1">
                        <input class="form-check-input" type="checkbox" value="">
                        Fallecidos

                    </div>
                    <button type="button" class="btn btn-outline-primary col-md-12">Enviar</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <table class="table text-center border border-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Casos Confirmados</th>
                    <th scope="col">Casos por 1mill. <br /> de Personas</th>
                    <th scope="col">Curados</th>
                    <th scope="col">Fallecidos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><img src="../../../assets/img/argentina.png" width="15" height="15"> Argentina</th>
                    <td>3.020</td>
                    <td>67</td>
                    <td>737</td>
                    <td>142</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/chile.png" width="15" height="15"> Chile</th>
                    <td>5.692</td>
                    <td>550</td>
                    <td>4.676</td>
                    <td>139</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/estados-unidos.png" width="15" height="15"> E.E.U.U.</th>
                    <td>67.7856</td>
                    <td>2.395</td>
                    <td>72.389</td>
                    <td>42.514</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/brasil.png" width="15" height="15"> Brasil.</th>
                    <td>16.026</td>
                    <td>192</td>
                    <td>22.130</td>
                    <td>2.587</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/mexico.png" width="15" height="15"> Mexico</th>
                    <td>5.433</td>
                    <td>68</td>
                    <td>2.627</td>
                    <td>738</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/espana.png" width="15" height="15"> España</th>
                    <td>98.771</td>
                    <td>4.282</td>
                    <td>80.587</td>
                    <td>20.852</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../assets/img/francia.png" width="15" height="15"> Francia</th>
                    <td>97.709</td>
                    <td>2.380</td>
                    <td>37.409</td>
                    <td>20.265</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>